<div class="row">
  <div class="col-xs-12">
    <h3>Regisztráció</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onRegister(f)" #f="ngForm">
      <div class="row form-group">
        <div class="col-sm">
          <label for="lastName">Vezetéknév</label>
          <input type="text" id="lastName" class="form-control" name="lastName"
                 ngModel required pattern="[A-Z]+[a-z]*" minlength="3">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm">
          <label for="firstName">Keresztnév</label>
          <input type="text" id="firstName" class="form-control" name="firstName"
                 ngModel required pattern="[A-Z]+[a-z]*" minlength="3">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm">
          <label for="school">Iskola</label>
          <input type="text" id="school" class="form-control" name="school"
                 ngModel required pattern="[A-Za-z]+[A-Za-z0-9]*" minlength="10">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm">
          <label for="password">Jelszó</label>
          <input type="password" id="password" class="form-control" name="password"
                 ngModel required pattern="[A-Za-z0-9]*" minlength="4">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" name="email"
                 ngModel required pattern="[0-9a-zA-Z]+@[0-9a-zA-Z]+\.[a-z]+">
        </div>
      </div>
      <label for=role>Felhasználói típus:</label>
      <div class="row form-group">
        <div class="col-sm">
          <select  id="role" class="form-control" name="role" ngModel required>
            <option value="STUDENT">Diák</option>
            <option value="TEACHER">Tanár</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Regisztráció</button>
          <button class="btn btn-danger" type="reset">Törlés</button>
        </div>
      </div>
    </form>
  </div>
</div>