# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tester/tester-frontend/target/frontend
/tester/tester-frontend/src/main/frontend/tmp
/tester/tester-frontend/src/main/frontend/out-tsc

# dependencies
/tester/tester-frontend/src/main/frontend/node_modules
/tester/tester-frontend/src/main/frontend/node/node_modules

# IDEs and editors
/tester/tester-frontend/src/main/frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/tester/tester-frontend/src/main/frontend/.sass-cache
/tester/tester-frontend/src/main/frontend/connect.lock
/tester/tester-frontend/src/main/frontend/coverage
/tester/tester-frontend/src/main/frontend/libpeerconnection.log
npm-debug.log
testem.log
/tester/tester-frontend/src/main/frontend/typings

# e2e
/tester/tester-frontend/src/main/frontend/e2e/*.js
/tester/tester-frontend/src/main/frontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db

target/
!.mvn/wrapper/maven-wrapper.jar
!target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/