<div class="row mb-40">
  <div class="col-12 text-center">
    <h3>Quiz kitöltése</h3>
  </div>
</div>
<div class="row mb-20">
    <div class="col-12">
      <h3>Kérdések</h3>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onFillQuiz(f)" #f="ngForm">
      <div class="row form-group" id="questions" *ngFor="let quest of quiz?.questions; let qi = index">
        <div class="col-sm-12 question">
          <h5>{{quest.question}}</h5>
            <div *ngFor="let answer of quest.answers; let ai = index" class="col-sm-12">
              <div class="row">
                <input type="checkbox" id=q-{{qi}}-a-{{ai}} class="form-control col-sm-1 align-self-center" name=q-{{qi}}-a-{{ai}} [ngModel]=false>
                <div class="col-sm-11 align-self-center">{{answer.answer}}</div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Kész</button>
          <button class="btn btn-danger" type="reset">Válaszok törlése</button>
        </div>
      </div>
    </form>
  </div>
</div>