<div class="row">
    <div class="col-12 text-center">
      <h3>Üdvözlünk a Quiz Master oldalán!</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-sm-offset-2 mt-40">
        <p class="text-center">Az oldal használata regisztrációhoz, belépéshez van kötve!</p>

        <div class="card">
            <p class="card-header">A következőkre van lehetőséged <strong>tanárként</strong>:</p>
            <div class="card-body">
                <ul class="list-group" *ngFor="let stuff of teacherStuff">
                    <li class="list-group-item list-group-item card-text mb-20"
                        style="background-color:rgba(0,0,0,.03)">
                        {{stuff}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mt-15">
            <p class="card-header">A következőkre van lehetőséged <strong>diákként</strong>:</p>
            <div class="card-body">
                <ul class="list-group" *ngFor="let stuff of studentStuff">
                    <li class="list-group-item list-group-item card-text mb-20"
                        style="background-color:rgba(0,0,0,.03)">
                        {{stuff}}
                    </li>
                </ul>
            </div>
        </div>




    </div>
</div>